alembic
blinker
click
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-Login
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
psycopg2
PyJWT
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
zipp
